Window {
    background-image: background2;
}

TabPane {
    --tabs-background-color: transparent;
}

Panel {
    border-radius: 8dp;
}

TextField,
Button {
    background-color: #ccc1;
    border-color:     #ccc3;
    border-width: 2dp;
}

Button:hover {
    background-color: #ccc2;
}

CubeLoader {
    color: #ccc;
}

.play-menu-bar,
.loader-panel,
.menu-bar {
    background-color: #111c;
}

.menu-item {
    background-color: transparent;
    border-width: 0px;
}

.menu-item:selected {
    background-color: #0007;
}

.play-menu-bar {

}