Window {
    background-image: background2;
}

TabPane {
    --tabs-background-color: transparent;
}

.tab-element {
    border-radius: 8px;
}

CubeLoader {
    color: #333;
}

.play-menu-bar,
.loader-panel,
.menu-bar {
    background-color: #eee9;
    border-radius: 8px;
}

.menu-item {
    background-color: transparent;
    border-width: 0px;
}

.menu-item:selected {
    background-color: #fff7;
}

.play-menu-bar {

}